<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- the important part here is naming the correct .css file you want to load! -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
    </head>
    <body>
        <header>
            <nav class="navbar bg-light">
                <form class="container-fluid">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </form>
              </nav>
        </header>



        <h1> This is the homepage :)</h1>
        <button> Start! </button>
        <button> End! </button>
        <p> This is a paragraph</p>





    </body>
</html>