<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- the important part here is naming the correct .css file you want to load! -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
    </head>
    <body>
        <header>
            <nav class="navbar bg-light">
                <form class="container-fluid">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </form>
              </nav>
        </header>



        <h1> This is the homepage :)</h1>
        <button  type="button" class="btn btn-secondary"> Start! </button>
        <button type="button" class="btn btn-info"> End! </button>
        <p> This is a line of text</p>

        <div class="card" style="width: 18rem;">
            <img src="https://i.stack.imgur.com/NTTTK.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>





    </body>
</html>